## 1. 출력 함수(print)
print() 함수

  - ()안의 값을 출력해주는 함수
  - 변수 값을 확인하는 용도로도 사용

In [1]:
print('Hello Python')
print('Hello Python')
print(25)
print(3.14)
print(True)

Hello Python
Hello Python
25
3.14
True

참고. Escape 코드 ('문자열 내에서 쓰는것')
  - 문자열 내의 일부 문자의 의미를 달리하여 특정한 효과를 주는 것
  - \n : 한 줄 개행
  - \t : 탭(8칸 공백)

In [2]:
print("Hello \n Python")
print("Hello \t Python")

Hello
 Python
Hello 	 Python

소수점 출력하기
  - {0:3d} : 0번째, 3글자, d(정수)
  - {1:3:2f} : 1번째, 3글자, 소수점 2자리, f(실수형)

In [3]:
print("이름 : {} , 학점 : {}" .format("정찬민" , 4.2))
print("Test1 : {0:3d}, Test2: {1:3.2f}" .format(369, 623.4567))

이름 : 정찬민 , 학점 : 4.2
Test1 : 369, Test2: 623.46

### 2. 주석(comment)

 - 코드에서 #으로 시작하는 뒷 부분을 실행하지 않음
 - python 소스코드 실행시 #은 무시하고 실행
 - 개발자(사람)가 보기 위한 용도로 사용
 - 개발시 주석을 잘 활용하는 사람이 좋은 개발자

In [6]:
student_num = '232908'  #학번

#학번 출력
print(student_num)

232908

### 3. 자료형(Type)

 1. 문자열(String): "Hello" , "Hi" (반드시 쌍따옴표 써야함)
 2. 정수형 숫자(int):3, 0, -1
 3. 실수형 숫자(float):3.1, 0.0, -2.2
 4. 논리형(boolean: True, False ( 반드시 대문자 써야함)
 
 
 - type() 함수를 사용해서 자료형 확인 가능

In [11]:
print(type(3.14))
print(type("Hi"))

<class 'float'>
<class 'str'>

In [12]:
형변환(Type C)

NameError: name '형' is not defined

### None
- 아무런 값을 갖지 않을 때 사용
- 일반적으로 변수가 초기값을 갖지 않게 하여 해당 변수를 생성할 때 사용
- 기타 언어의 NUll과 같은 의미로 사용

In [4]:
student_name = None
print(student_name)

None

### 4.변수(Variable)
- 변수 : 하나의 값을 저장할 수 있는 메모리 공간


```python
# 변수 선언 및 초기화 방법
num = 5
```

동적 타이핑 언어: 코드 작성시 Type을 명시하지 않음(코드 실행시 Python이 체크)   
대입연산자(=) : 우측의 값을 좌측에 대입, 동등(equal)  
정적 타이핑 언어: Java, C

- Python에서 동등(equal)은 ==사용

In [ ]:
# name 변수 생성
# "Jenong Chan min" 값을 name 변수에 저장

# name → 변수 이름
# = → 대입 연산자
# " Jeong Chan Min" → 값
name = "Jeong Chan Min"

###  변수 명명 규칙(naming rule)
1. 영문 대소문자, _, 숫자로만 구성
2. 숫자로 시작할 수 없음
3. 영어 대소문자 구별
4. 예약어 사용불가

- 예약어 : Python에서 미리 선정하여 사용 중인 키워드
- 예약어는 변수, 함수, 클래스 등의 사용자 정의 이름으로 사용할 수 없음
- 예약어 예) for, while, if, None, True, False, return, def 등등

In [8]:
# 1abc = 5 (X) 숫자로 시작 불가
abc1 = 5  #(O)

# 영어 대소문자 구별
abc = 5  # abc와 Abc는 서로 다른 변수
Abc = 3

# 예약어 사용불가
# None = 3  # (X)
# print = 5 # (X)

## 5. Naming Method
- 변수, 함수, 클래스 등의 사용자 정의 이름에 사용
- 프로그램밍 언어별로 사용하는 Naming Method가 다름
- Python은 snake_case 사용!

1. snake_case: 소문자로 작성, 합성어 '_' 사용
2. cameICase: 첫글자 소문자, 합성어 첫글자 대문자
3. PascaIcase: 첫글자 대문자, 합성어 첫글자 대문자  
  개발자들의 규칙

## 6. format 출력
1. format(): 과거
2. f-string: 최신

In [10]:
student_num = 232908
student_name = "Chan Min"

# 출력: 전남대학교 232908, Chanmin 입니다.
print("전남대학교 {}, {} 입니다." .format(student_num, student_name))
print(f"전남대학교 {student_num}, {student_name} 입니다.")

전남대학교 232908, Chan Min 입니다.
전남대학교 232908, Chan Min 입니다.

## 7. 사칙연산

- 더하기: +
- 빼기: -
- 곱하기: *
- 나누기: /
- 나누기(몫)://
- 나누기(나머지): %
- 제곱: **